[tool.poetry]
name = "poetry-lock-package"
version = "0.0.1"
description = "Poetry lock package generator"
authors = ["Bram Neijt <bram@neijt.nl>"]
license = "GPLv3"
readme = "README.md"
repository = "https://github.com/bneijt/poetry-lock-package"

[tool.poetry.dependencies]
python = "^3.6.2"
poetry = "1.2.0a1"
importlib-metadata = { version = ">=0.22", python = "<3.8" }

[tool.poetry.dev-dependencies]
pytest = { version = "^5.2" }
black = { version = "^21.5b1" }
rope = { version = "^0.18.0" }
pre-commit = { version = "^2.12.0" }

[tool.poetry.plugins."poetry.application.plugin"]
poetry-lock-package = "poetry_lock_package.plugin:BuildLockApplicationPlugin"

[tool.poetry.scripts]
poetry-lock-package = 'poetry_lock_package.app:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
