[tool.poetry]
name = "poetry-lock-package"
version = "0.0.1"
description = "Poetry lock package generator"
authors = ["Bram Neijt <bram@neijt.nl>"]
readme = "README.md"
repository = "https://github.com/bneijt/poetry-lock-package"
classifiers = [
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Topic :: Software Development :: Build Tools"
]

[tool.poetry.dependencies]
python = "^3.6.2"
toml = "^0.10.1"
importlib-metadata = { version = ">=0.22", python = "<3.8" }

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.5b1"
rope = "^0.18.0"
twine = "^3.4.1"
pre-commit = "^2.12.0"
flake8 = "^3.9.2"

[tool.poetry.scripts]
poetry-lock-package = 'poetry_lock_package.app:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
