name: main

on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  main:
    strategy:
      matrix:
        python-version: ["3.7", "3.10"]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        run: pip install poetry==1.8.3
      - name: Poetry install
        run: poetry install
      - name: Static analysis
        run: |
          poetry run -- pre-commit run --all-files
          poetry run mypy
      - name: Run tests
        run: |
          poetry run pytest tests
          poetry run poetry-lock-package --help
